<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>별책부록, 로그인</title>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/sign.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/sign.css"/>
</head>
<body>
    <div class="all_container">

        <div class="byeolbooks_logo"> <a href="http://localhost:8082/"><img src="/images/home/byeolbooks_logo.png" width="250"></a> </div>
        <h3 class="h2_title"> 로그인 </h3>
        <form th:action=${"/user/signin"} method="post">
        <div class="form_container">
                <div class="one_line">
                    <input id="user_id" name="user_id" type="text" placeholder="아이디">
                </div>
                <div class="one_line">
                    <input id="user_password" name="user_password" type="password" placeholder="비밀번호">
                </div>
                <div th:if="${param.error}" class="validate_warning">아이디 또는 비밀번호를 확인해주세요.</div>
        </div>
        <div class="signup_btn_div"><button id="signup_btn" type="submit"> 로그인 </button></div>
        </form>
        <div class="lost_pwd_div">
            <a href="">비밀번호를 잃어버리셨나요?</a>
        </div>
        <div class="login_div" style="margin-top: 10px">
            아직 회원이 아니라면,&nbsp; <a href="/user/signup">회원가입</a>
        </div>
        <div class="or_hr_div">
            <div class="hr"></div>
            <div class="or">또는</div>
            <div class="hr"></div>
        </div>
        <div class="oauth2_login_div">
<!--            <img src="/static/images/oauth2/icon-google.png">-->
<!--            <img src="/static/images/oauth2/icon-kakao.png">-->
<!--            <img src="/static/images/oauth2/icon-twitter.png">-->
<!--            <img src="/static/images/oauth2/icon-line.png">-->
<!--            <img src="/static/images/oauth2/icon-naver.png">-->
            <img src="/images/oauth2/icon-google.png">
            <img src="/images/oauth2/icon-kakao.png">
            <img src="/images/oauth2/icon-twitter.png">
            <img src="/images/oauth2/icon-line.png">
            <img src="/images/oauth2/icon-naver.png">
        </div>
    </div>
</body>
</html>