<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<!-- th:fragment로 네비바 이름지정해주기 -->
<nav th:fragment="navbarFragment">
    <div class="navbar_container">
        <div class="nav_left">
            <div>
                <a href="http://localhost:8082/"><img src="/images/home/byeolbooks_logo.png" width="200"></a>
            </div>
            <div class="nav_menu">
                <div> <a href="">별책서점</a></div>
                <div> <a th:href="@{http://localhost:8082/mybooks(id=${loginUserId})}">내 서재</a> </div>
            </div>
        </div>
        <div class="nav_right">
                <a sec:authorize="isAnonymous()" th:href="@{/user/signup}"> 회원가입</a>
                <a sec:authorize="isAnonymous()" th:href="@{/user/signin}"> 로그인</a>
                <a sec:authorize="isAuthenticated()"href="/user/info"> 내 정보 </a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}"> 로그아웃</a>
        </div>
    </div>
    <div>

    </div>
</nav>