<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up 임시 Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css"/>
</head>
<body>
    <div class="all_container">
        <div class="byeolbooks_logo"> <h1>별책부록</h1> </div>
        <h3 class="h2_title"> 회원가입 </h3>
        <div class="form_container">
            <form>
                <div class="one_line">
                    <input name="user_id" type="text" placeholder="아이디">
                </div>
                <div class="one_line">
                    <input name="user_password" type="password" placeholder="비밀번호">
                </div>
                <div class="one_line">
                    <input name="user_nickname" placeholder="닉네임">
                </div>
                <div class="one_line">
                    <input name="email_local" type="text" placeholder="이메일"> <input name="email_domain" value="" readonly="readonly">
                    <select>
                        <option>선택하세요</option>
                        <option>@naver.com</option>
                        <option>@hanmail.net</option>
                        <option>@daum.net</option>
                        <option>@kakao.com</option>
                        <option>@google.com</option>
                        <option>직접입력</option>
                    </select>
                </div>
                <div class="one_line sex_div">
                    <div style="width: 50%;"> 성별 </div>
                    <div class="radio_div"><input class="radio" name="user_sex" type="radio" value="0"> 남</div>
                    <div class="radio_div"><input class="radio" name="user_sex" type="radio" value="1"> 여</div>
                </div>
                <div class="one_line">
                    <input name="user_addr1" type="text" placeholder="주소">
                </div>
                <div class="one_line">
                    <input name="user_addr2" type="text" placeholder="상세주소">
                </div>

            </form>
        </div>
        <div class="signup_btn_div"><button id="signup_btn"> 가입하기 </button></div>
        <div class="login_div">
            이미 가입하셨다면,&nbsp; <a href="">로그인하기</a>
        </div>
        <div class="or_hr_div">
            <div class="hr"></div>
            <div class="or">또는</div>
            <div class="hr"></div>
        </div>
        <div class="oauth2_login_div">
            <img src="/static/images/oauth2/icon-google.png">
            <img src="/static/images/oauth2/icon-kakao.png">
            <img src="/static/images/oauth2/icon-twitter.png">
            <img src="/static/images/oauth2/icon-line.png">
            <img src="/static/images/oauth2/icon-naver.png">
        </div>
    </div>
</body>
</html>